# День 10 – Введение в анализ данных

В этом проекте мы поможем вам приобрести навыки работы с библиотекой Pandas. Она является основой для работы с датафреймами. Название этой библиотеки происходит от термина «панельные данные» (panel data), экономико-математического термина для наборов данных, которые включают наблюдения за несколько периодов времени для одних и тех же компаний или людей.

## 0. Импорт библиотек

In [1]:
import pandas as pd

## 1. Task 4 селекты и агрегации

1.	Загрузите в пакет данных файл JSON, который вы создали в предыдущем упражнении.
*   Установите CarNumber в качестве индексного столбца.

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
df = pd.read_json('../content/drive/MyDrive/School21/Day10/task3/auto.json',
                 orient='records'
                 )
df

        CarNumber  Refund         Fines    Make    Model
0    Y163O8161RUS       2   3200.000000    Ford    Focus
1     E432XX77RUS       1   6500.000000  Toyota    Camry
2     7184TT36RUS       1   2100.000000    Ford    Focus
3    X582HE161RUS       2   2000.000000    Ford    Focus
4    92918M178RUS       1   5700.000000    Ford    Focus
..            ...     ...           ...     ...      ...
720  Y163O8161RUS       2   1600.000000    Ford    Focus
721  M0309X197RUS       1  22300.000000    Ford    Focus
722  O673E8197RUS       2    600.000000    Ford    Focus
723  8610T8154RUS       1   2000.000000    Ford    Focus
724  H419XE197RUS       2   8594.586466  Toyota  Corolla

[725 rows x 5 columns]

In [4]:
df.set_index(keys='CarNumber', drop=True, inplace=True)
df

              Refund         Fines    Make    Model
CarNumber
Y163O8161RUS       2   3200.000000    Ford    Focus
E432XX77RUS        1   6500.000000  Toyota    Camry
7184TT36RUS        1   2100.000000    Ford    Focus
X582HE161RUS       2   2000.000000    Ford    Focus
92918M178RUS       1   5700.000000    Ford    Focus
...              ...           ...     ...      ...
Y163O8161RUS       2   1600.000000    Ford    Focus
M0309X197RUS       1  22300.000000    Ford    Focus
O673E8197RUS       2    600.000000    Ford    Focus
8610T8154RUS       1   2000.000000    Ford    Focus
H419XE197RUS       2   8594.586466  Toyota  Corolla

[725 rows x 4 columns]

2.	Выполните следующие срезы:
*   отобразить только те строки, где значения fines превышают 2100;
*   отобразить только те строки, где значения fines превышают 2100, а значение refund равно 2;
*   отобразить только те строки, в которых указаны модели из следующего списка: ['Focus', 'Corolla'];
*   отобразить только те строки, в которых указан регистрационный номер автомобиля из списка: ['Y7689C197RUS', '92928M178RUS', '7788KT197RUS', 'H115YO163RUS', 'X758HY197RUS'].

In [5]:
df.query('Fines > 2100')

              Refund         Fines        Make    Model
CarNumber
Y163O8161RUS       2   3200.000000        Ford    Focus
E432XX77RUS        1   6500.000000      Toyota    Camry
92918M178RUS       1   5700.000000        Ford    Focus
H234YH197RUS       2   6000.000000        Ford    Focus
E40577152RUS       1   8594.586466        Ford    Focus
...              ...           ...         ...      ...
O718MM163RUS       2   8594.586466        Ford    Focus
7065C8197RUS       2  11400.000000  Volkswagen   Passat
O22097197RUS       1  24300.000000        Ford    Focus
M0309X197RUS       1  22300.000000        Ford    Focus
H419XE197RUS       2   8594.586466      Toyota  Corolla

[455 rows x 4 columns]

In [6]:
df.query('Fines > 2100 and Refund == 2')

              Refund         Fines        Make    Model
CarNumber
Y163O8161RUS       2   3200.000000        Ford    Focus
H234YH197RUS       2   6000.000000        Ford    Focus
707987163RUS       2   2200.000000        Ford    Focus
K330T8197RUS       2   8200.000000       Skoda  Octavia
M592CH197RUS       2   8594.586466       Skoda  Octavia
...              ...           ...         ...      ...
O136HO197RUS       2   7800.000000      Toyota  Corolla
O68897197RUS       2  12300.000000        Ford    Focus
O718MM163RUS       2   8594.586466        Ford    Focus
7065C8197RUS       2  11400.000000  Volkswagen   Passat
H419XE197RUS       2   8594.586466      Toyota  Corolla

[309 rows x 4 columns]

In [7]:
df.query("Model in ['Focus', 'Corolla']")

              Refund         Fines    Make    Model
CarNumber
Y163O8161RUS       2   3200.000000    Ford    Focus
7184TT36RUS        1   2100.000000    Ford    Focus
X582HE161RUS       2   2000.000000    Ford    Focus
92918M178RUS       1   5700.000000    Ford    Focus
H234YH197RUS       2   6000.000000    Ford    Focus
...              ...           ...     ...      ...
Y163O8161RUS       2   1600.000000    Ford    Focus
M0309X197RUS       1  22300.000000    Ford    Focus
O673E8197RUS       2    600.000000    Ford    Focus
8610T8154RUS       1   2000.000000    Ford    Focus
H419XE197RUS       2   8594.586466  Toyota  Corolla

[593 rows x 4 columns]

In [8]:
df.loc[['Y7689C197RUS', '92928M178RUS', '7788KT197RUS', 'H115YO163RUS', 'X758HY197RUS']]

              Refund          Fines  Make  Model
CarNumber
Y7689C197RUS       1   27000.000000  Ford  Focus
Y7689C197RUS       2    9000.000000  Ford  Focus
Y7689C197RUS       2   45000.000000  Ford  Focus
Y7689C197RUS       1   36000.000000  Ford  Focus
92928M178RUS       1    8594.586466  Ford  Focus
92928M178RUS       1     600.000000  Ford  Focus
92928M178RUS       1    1200.000000  Ford  Focus
92928M178RUS       2    3000.000000  Ford  Focus
7788KT197RUS       2   12000.000000  Ford  Focus
7788KT197RUS       2    8594.586466  Ford  Focus
7788KT197RUS       1   20000.000000  Ford  Focus
7788KT197RUS       2    4000.000000  Ford  Focus
H115YO163RUS       1    2200.000000  Ford  Focus
H115YO163RUS       1    8594.586466  Ford  Focus
H115YO163RUS       2    1100.000000  Ford  Focus
X758HY197RUS       2   24200.000000  Ford  Focus
X758HY197RUS       2   72600.000000  Ford  Focus
X758HY197RUS       2  145200.000000  Ford  Focus

3.	Произведите агрегации с маркой и моделью:
*   отобразите медианные штрафы в разрезе только марок (марка – медианный штраф внутри этой марки);
*   отобразите медианные штрафы, сгруппированные по маркам и моделям (комбинация марка и модель – медианный штраф этой комбинации);
*   отобразите количество штрафов, имеющихся в группировках по маркам и моделям, чтобы понять, можно ли доверять полученным медианным значениям;
*   отобразите минимальные и максимальные штрафы, сгруппированные по маркам и моделям для того, чтобы лучше понять вариацию;
*   отобразите стандартное отклонение штрафов, сгруппированных по маркам и моделям для того, чтобы лучше понять вариацию.

In [9]:
df.groupby("Make").agg({'Fines': 'median'})

             Fines
Make
Audi        4200.0
BMW         6500.0
Ford        3500.0
Skoda       3250.0
Toyota      7700.0
Volkswagen  4300.0
Volvo       8500.0

In [10]:
df.groupby(["Make", "Model"]).agg({'Fines': 'median'})

                     Fines
Make       Model
Ford       Focus    3500.0
           Mondeo   7650.0
Skoda      Octavia  3250.0
Toyota     Camry    7700.0
           Corolla  7700.0
Volkswagen Golf     4800.0
           Jetta    2800.0
           Passat   3500.0
           Touareg  5800.0

In [11]:
df.groupby(["Make", "Model"]).agg({'Fines': 'count'})

                    Fines
Make       Model
Ford       Focus      575
           Mondeo       6
Skoda      Octavia     48
Toyota     Camry       16
           Corolla     18
Volkswagen Golf        20
           Jetta        6
           Passat      22
           Touareg      5

In [12]:
df.groupby(["Make", "Model"]).agg({'Fines': 'min'})

                     Fines
Make       Model
Ford       Focus     100.0
           Mondeo   1100.0
Skoda      Octavia   300.0
Toyota     Camry     500.0
           Corolla   900.0
Volkswagen Golf      200.0
           Jetta     500.0
           Passat    100.0
           Touareg   500.0

In [13]:
df.groupby(["Make", "Model"]).agg({'Fines': 'max'})

                            Fines
Make       Model
Ford       Focus    180000.000000
           Mondeo    46200.000000
Skoda      Octavia  145000.000000
Toyota     Camry     22400.000000
           Corolla   34300.000000
Volkswagen Golf     168000.000000
           Jetta     46000.000000
           Passat    29700.000000
           Touareg    8594.586466

In [14]:
df.groupby(["Make", "Model"]).agg({'Fines': 'std'})

                           Fines
Make       Model
Ford       Focus    15041.269437
           Mondeo   18987.329108
Skoda      Octavia  24339.742174
Toyota     Camry     6410.250654
           Corolla   9629.325617
Volkswagen Golf     36950.839950
           Jetta    17743.026799
           Passat    6969.739135
           Touareg   3461.778173

4.	Произведите агрегации с регистрационным номером автомобиля:
*   отобразите регистрационные номера автомобилей, сгруппированные по количеству штрафов в порядке убывания (мы хотим найти тех, кто чаще всего нарушал правила дорожного движения);
*   выберите из исходного датафрейма все строки, соответствующие регистрационному номеру с самым большим количеством нарушений (мы хотим проанализировать эти данные более подробно);
*   отобразите регистрационные номера автомобилей, сгруппированные по сумме штрафов в порядке убывания (мы хотим найти тех, кто заплатил самую большую сумму штрафов);
*   выберите из исходного датафрейма все строки, соответствующие регистрационному номеру с самой большой суммой штрафов (мы хотим проанализировать эти данные более подробно);
*   вывести на экран таблицу, отвечающую на вопрос: есть ли регистрационные номера, которые были установлены на разных моделях автомобилей?

In [15]:
fine_counts = df.reset_index().groupby('CarNumber', as_index=False).agg({'Fines': 'count'}).sort_values('Fines', ascending=False)
fine_counts

        CarNumber  Fines
513  Y7689C197RUS      4
104  92928M178RUS      4
40   7788KT197RUS      4
241  H115YO163RUS      3
448  X758HY197RUS      3
..            ...    ...
215  E42577152RUS      1
214  E42377152RUS      1
212  E41977152RUS      1
211  E41577152RUS      1
265   H917TC36RUS      1

[531 rows x 2 columns]

In [16]:
df.loc[fine_counts.iloc[0, 0]]

              Refund    Fines  Make  Model
CarNumber
Y7689C197RUS       1  27000.0  Ford  Focus
Y7689C197RUS       2   9000.0  Ford  Focus
Y7689C197RUS       2  45000.0  Ford  Focus
Y7689C197RUS       1  36000.0  Ford  Focus

In [17]:
fines = df.reset_index().groupby('CarNumber', as_index=False).agg({'Fines': 'sum'}).sort_values('Fines', ascending=False)
fines

        CarNumber     Fines
448  X758HY197RUS  242000.0
91   9020YC197RUS  217500.0
303  M0279X197RUS  216000.0
485  Y352O8197RUS  207200.0
517  Y778EE197RUS  192000.0
..            ...       ...
66   83218C154RUS     100.0
472  Y195O8161RUS     100.0
294  K376HE161RUS     100.0
5    705787163RUS     100.0
286  K326T8197RUS     100.0

[531 rows x 2 columns]

In [18]:
df.loc[fines.iloc[0,0]]

              Refund     Fines  Make  Model
CarNumber
X758HY197RUS       2   24200.0  Ford  Focus
X758HY197RUS       2   72600.0  Ford  Focus
X758HY197RUS       2  145200.0  Ford  Focus

In [20]:
diff_models = df.reset_index().groupby('CarNumber', as_index=False).agg({'Model': 'count'}).value_counts('Model').reset_index().sort_values('Model')
diff_models.columns = ['Number_models', 'Number_cars']
diff_models

   Number_models  Number_cars
3              0            7
0              1          362
1              2          135
2              3           24
4              4            3