# День 10 – Введение в анализ данных

В этом проекте мы поможем вам приобрести навыки работы с библиотекой Pandas. Она является основой для работы с датафреймами. Название этой библиотеки происходит от термина «панельные данные» (panel data), экономико-математического термина для наборов данных, которые включают наблюдения за несколько периодов времени для одних и тех же компаний или людей.

## 0. Импорт библиотек

In [ ]:
import pandas as pd
import numpy as np

## 1. Task 6 средства оптимизации библиотеки Pandas

Теперь мы рассмотрим вопрос эффективности работы программного кода. Вы уже знаете основные принципы работы с библиотекой Pandas. Пришло время познакомиться с отдельными полезными функциями, которые большинство пользователей библиотеки Pandas не применяют и о которых даже не слышали.

1.	Прочитайте файл fines.csv, который вы сохранили в предыдущем упражнении.

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
fines = pd.read_csv('../content/drive/MyDrive/School21/Day10/task5/fines.csv')
fines

        CarNumber  Refund   Fines     Make  Model  Year
0    Y163O8161RUS       2  3200.0     Ford  Focus  1986
1     E432XX77RUS       1  6500.0   Toyota  Camry  2016
2     7184TT36RUS       1  2100.0     Ford  Focus  2011
3    X582HE161RUS       2  2000.0     Ford  Focus  2002
4    92918M178RUS       1  5700.0     Ford  Focus  1992
..            ...     ...     ...      ...    ...   ...
925  A333EA136RUS       1   250.0   Toyota  Camry  2020
926  A444EA136RUS       1   300.0      Kia    Rio  2019
927  A555EA136RUS       1   500.0    Mazda      6  2021
928  A777EA136RUS       1  1000.0  Hyundai    i40  2018
929  A999EA136RUS       1  1500.0    Mazda      3  2020

[930 rows x 6 columns]

2.	Итерирование: во всех следующих подзадачах необходимо рассчитать значение для каждой строки по формуле fines/refund*year, создать новый столбец с полученными данными и измерить время расчета, используя волшебную команду %%timeit в ячейке.

Цикл: напишите функцию, которая выполнит перебор по датафрейму, используя for i in range(0, len(df)), iloc и append() в отношении списка, присвойте результат выполнения функции новому столбцу в датафрейме.

In [ ]:
%%timeit
def fun(fines): #пишем функцию
    a=[]
    i=0
    for i in range(0, len(fines)):
        b=( fines['Fines'].iloc[i] / fines['Refund'].iloc[i] * fines['Year'].iloc[i] )
        a.append(b)
    return a
fines['Value'] = fun(fines)

26.7 ms ± 379 µs per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [ ]:
#%%timeit
#fines['Value'] = fun(fines)

28.3 ms ± 955 µs per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [ ]:
fines

        CarNumber  Refund   Fines     Make  Model  Year       Value
0    Y163O8161RUS       2  3200.0     Ford  Focus  1986   3177600.0
1     E432XX77RUS       1  6500.0   Toyota  Camry  2016  13104000.0
2     7184TT36RUS       1  2100.0     Ford  Focus  2011   4223100.0
3    X582HE161RUS       2  2000.0     Ford  Focus  2002   2002000.0
4    92918M178RUS       1  5700.0     Ford  Focus  1992  11354400.0
..            ...     ...     ...      ...    ...   ...         ...
925  A333EA136RUS       1   250.0   Toyota  Camry  2020    505000.0
926  A444EA136RUS       1   300.0      Kia    Rio  2019    605700.0
927  A555EA136RUS       1   500.0    Mazda      6  2021   1010500.0
928  A777EA136RUS       1  1000.0  Hyundai    i40  2018   2018000.0
929  A999EA136RUS       1  1500.0    Mazda      3  2020   3030000.0

[930 rows x 7 columns]

Сделайте это с помощью функции iterrows().

In [ ]:
%%timeit
fines['Value'] = [row[1]['Fines'] / row[1]['Refund'] * row[1]['Year'] for row in fines.iterrows()]

74.8 ms ± 15.4 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [ ]:
fines

        CarNumber  Refund   Fines     Make  Model  Year       Value
0    Y163O8161RUS       2  3200.0     Ford  Focus  1986   3177600.0
1     E432XX77RUS       1  6500.0   Toyota  Camry  2016  13104000.0
2     7184TT36RUS       1  2100.0     Ford  Focus  2011   4223100.0
3    X582HE161RUS       2  2000.0     Ford  Focus  2002   2002000.0
4    92918M178RUS       1  5700.0     Ford  Focus  1992  11354400.0
..            ...     ...     ...      ...    ...   ...         ...
925  A333EA136RUS       1   250.0   Toyota  Camry  2020    505000.0
926  A444EA136RUS       1   300.0      Kia    Rio  2019    605700.0
927  A555EA136RUS       1   500.0    Mazda      6  2021   1010500.0
928  A777EA136RUS       1  1000.0  Hyundai    i40  2018   2018000.0
929  A999EA136RUS       1  1500.0    Mazda      3  2020   3030000.0

[930 rows x 7 columns]

Сделайте это с помощью функции apply() и лямбда-функции.

In [ ]:
%%timeit 
fines['Value'] = fines.apply(lambda x: x[2] / x[1] * x[5], axis = 1)

12.1 ms ± 159 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [ ]:
fines

        CarNumber  Refund   Fines     Make  Model  Year       Value
0    Y163O8161RUS       2  3200.0     Ford  Focus  1986   3177600.0
1     E432XX77RUS       1  6500.0   Toyota  Camry  2016  13104000.0
2     7184TT36RUS       1  2100.0     Ford  Focus  2011   4223100.0
3    X582HE161RUS       2  2000.0     Ford  Focus  2002   2002000.0
4    92918M178RUS       1  5700.0     Ford  Focus  1992  11354400.0
..            ...     ...     ...      ...    ...   ...         ...
925  A333EA136RUS       1   250.0   Toyota  Camry  2020    505000.0
926  A444EA136RUS       1   300.0      Kia    Rio  2019    605700.0
927  A555EA136RUS       1   500.0    Mazda      6  2021   1010500.0
928  A777EA136RUS       1  1000.0  Hyundai    i40  2018   2018000.0
929  A999EA136RUS       1  1500.0    Mazda      3  2020   3030000.0

[930 rows x 7 columns]

Сделайте это с помощью объектов Series из датафрейма.

In [ ]:
%%timeit 
fines['Value'] = fines['Fines'] / fines['Refund'] * fines['Year']

458 µs ± 16.3 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [ ]:
fines

        CarNumber  Refund   Fines     Make  Model  Year       Value
0    Y163O8161RUS       2  3200.0     Ford  Focus  1986   3177600.0
1     E432XX77RUS       1  6500.0   Toyota  Camry  2016  13104000.0
2     7184TT36RUS       1  2100.0     Ford  Focus  2011   4223100.0
3    X582HE161RUS       2  2000.0     Ford  Focus  2002   2002000.0
4    92918M178RUS       1  5700.0     Ford  Focus  1992  11354400.0
..            ...     ...     ...      ...    ...   ...         ...
925  A333EA136RUS       1   250.0   Toyota  Camry  2020    505000.0
926  A444EA136RUS       1   300.0      Kia    Rio  2019    605700.0
927  A555EA136RUS       1   500.0    Mazda      6  2021   1010500.0
928  A777EA136RUS       1  1000.0  Hyundai    i40  2018   2018000.0
929  A999EA136RUS       1  1500.0    Mazda      3  2020   3030000.0

[930 rows x 7 columns]

Сделайте это так же, как и в предыдущей подзадаче, но с помощью метода .values.

In [ ]:
%%timeit 
fines['Value'] = fines['Fines'].values / fines['Refund'].values * fines['Year'].values

186 µs ± 1.34 µs per loop (mean ± std. dev. of 7 runs, 10000 loops each)

In [ ]:
fines

        CarNumber  Refund   Fines     Make  Model  Year       Value
0    Y163O8161RUS       2  3200.0     Ford  Focus  1986   3177600.0
1     E432XX77RUS       1  6500.0   Toyota  Camry  2016  13104000.0
2     7184TT36RUS       1  2100.0     Ford  Focus  2011   4223100.0
3    X582HE161RUS       2  2000.0     Ford  Focus  2002   2002000.0
4    92918M178RUS       1  5700.0     Ford  Focus  1992  11354400.0
..            ...     ...     ...      ...    ...   ...         ...
925  A333EA136RUS       1   250.0   Toyota  Camry  2020    505000.0
926  A444EA136RUS       1   300.0      Kia    Rio  2019    605700.0
927  A555EA136RUS       1   500.0    Mazda      6  2021   1010500.0
928  A777EA136RUS       1  1000.0  Hyundai    i40  2018   2018000.0
929  A999EA136RUS       1  1500.0    Mazda      3  2020   3030000.0

[930 rows x 7 columns]

3.	Индексация: измерьте опять же время с помощью волшебной команды %%timeit в ячейке.
*   Получите значения строки датафрейма для определенного номера CarNumber, например O136HO197RUS.
*   Установите в качестве индекса в вашем датафрейме CarNumber.
*   Снова попробуйте получить значения строки для того же номера CarNumber.

In [ ]:
%%timeit 
fines.query('CarNumber == "O136HO197RUS"')

1.72 ms ± 44.4 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [ ]:
fines.query('CarNumber == "O136HO197RUS"')

        CarNumber  Refund   Fines    Make    Model  Year      Value
715  O136HO197RUS       2  7800.0  Toyota  Corolla  2016  7862400.0
902  O136HO197RUS       2  7000.0  Toyota  Corolla  1991  6968500.0

In [ ]:
%%timeit 
fines.set_index('CarNumber').loc['O136HO197RUS']

992 µs ± 11.3 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [ ]:
fines.set_index('CarNumber').loc['O136HO197RUS']

              Refund   Fines    Make    Model  Year      Value
CarNumber
O136HO197RUS       2  7800.0  Toyota  Corolla  2016  7862400.0
O136HO197RUS       2  7000.0  Toyota  Corolla  1991  6968500.0

4.	Даункастинг (работа с типами данных):
*   выполните команду df.info(memory_usage='deep'), обратите внимание на Dtype и объем используемой оперативной памяти;

In [ ]:
fines.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 930 entries, 0 to 929
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   CarNumber  930 non-null    object
 1   Refund     930 non-null    int64
 2   Fines      930 non-null    float64
 3   Make       930 non-null    object
 4   Model      919 non-null    object
 5   Year       930 non-null    int64
 6   Value      930 non-null    float64
dtypes: float64(2), int64(2), object(3)
memory usage: 203.8 KB

*   скопируйте с помощью команды copy() исходный датафрейм в другой под названием optimized

In [ ]:
optimized = fines.copy()

*   выполните приведение типа вниз с float64 по float32 для всех столбцов
*   выполните приведение вниз с int64 до наименьшего возможного числового dtype;
*   запустите info(memory_usage='deep') теперь для нового датафрейма, обратите внимание на Dtype и объем используемой оперативной памяти.

In [ ]:
optimized['Fines'] = optimized['Fines'].astype(np.float32)
optimized['Value'] = optimized['Value'].astype(np.float32)
optimized['Refund'] = optimized['Refund'].astype(np.int8)
optimized['Year'] = optimized['Year'].astype(np.int8)
optimized.info( memory_usage = 'deep' )

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 930 entries, 0 to 929
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   CarNumber  930 non-null    object
 1   Refund     930 non-null    int8
 2   Fines      930 non-null    float32
 3   Make       930 non-null    object
 4   Model      919 non-null    object
 5   Year       930 non-null    int8
 6   Value      930 non-null    float32
dtypes: float32(2), int8(2), object(3)
memory usage: 183.8 KB

5.	Категории:
*   измените столбцы типа object на тип category;
*   в этот раз проверьте объем используемой оперативной памяти; вероятно, он уменьшился в 2-3 раза по сравнению с тем, что использовался исходным датафреймом.

In [ ]:
optimized['CarNumber'] = optimized['CarNumber'].astype('category')
optimized['Make'] = optimized['Make'].astype('category')
optimized['Model'] = optimized['Model'].astype('category')
optimized.info( memory_usage = 'deep' )

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 930 entries, 0 to 929
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   CarNumber  930 non-null    category
 1   Refund     930 non-null    int8
 2   Fines      930 non-null    float32
 3   Make       930 non-null    category
 4   Model      919 non-null    category
 5   Year       930 non-null    int8
 6   Value      930 non-null    float32
dtypes: category(3), float32(2), int8(2)
memory usage: 67.3 KB

6.	Очистка памяти
*   С помощью %reset_selective и библиотеки gc очистите память только исходного датафрейма.

In [ ]:
import gc

In [ ]:
who_ls

['drive', 'fines', 'gc', 'np', 'optimized', 'pd']

In [ ]:
%reset_selective fines

Once deleted, variables cannot be recovered. Proceed (y/[n])?  y

In [ ]:
who_ls

['drive', 'gc', 'np', 'optimized', 'pd']